.App {
  text-align: center;
}

.header{
  display: flexbox;
  width: max-content;
  margin-top:5em;
  margin-left:  25%;
  font-size: 3em;
  color:hotpink;
  text-align: center;
  letter-spacing:2.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

